body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #343a40; */
  background-color: #131723;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.root {
  text-align: center;
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
p,
subtitle1 {
  color: #e3e3e3;
  background-color: transparent;
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  background-color: #3879e4;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  height: 50px;
  min-width: 200px;
  border: none;
  color: #e3e3e3;
  font-size: 18px;
}

button:hover {
  background-color: #739ee4;
}

input {
  padding: 5px;
  background-color: #060910;
  color: #e3e3e3;
  border: none;
  height: 40px;
  border-radius: 15px;
  padding-left: 15px;
  /* padding-right: 10px; */
  /* min-width: 400px; */
  font-size: 15px;
  width: 97%;
}

.dropdown {
  margin-top: 30px;
  width: 100%;
}

.card {
  margin: auto;
  min-width: 700px;
  margin-top: 50px;
  max-width: 600px;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px #000000;
  background-color: #131723;
}

a {
  color: #b9b9b9;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

a:hover {
  color: #bbc7d8;
}

span {
  color: #7c94b6;
  text-decoration: none;
  font-size: 12px;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
